body {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
}

.header {
    height: 5vh;
}

.container {
    display: flex;
    flex-direction: row;
}

.choice {
    width: 50vw;
    height: 95vh;
}


@media only screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    
    .choice {
        width: 100vw;
        height: 47.5vh;
    }
  }